[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-login = "*"
flask-wtf = "*"
email-validator = "*"
flask-migrate = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
flask-testing = "*"

[requires]
python_version = "3.9"
